body {
    font-size: 140%;

    .for_mobile{
        display: inline;
    }
    .for_pc{
        display: none;
    }

    div.main_content {
        div.top_bannar{
            height: 60vh;

            h1 {
                font-size: 25pt;
                position: relative;
                top: 18%;
                left: 0%;
                color: white;
            }
        }

        div#feature {
            .hr_space {
                height: 20px;
            }

            section.layout_a, section.layout_b {
                float: none;

                div.feature_description {
                    margin-right: auto;
                    margin-left: auto;
                    width: auto;
                }

                div.feature_image {
                    float: none;
                    width: auto;

                    div.feature_image_holder img {
                        float: none;
                        max-height: 50vh;
                        margin: 0px auto;
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
}
